@import "tailwindcss";
@import "./components/LoadingOverlay/blinkingdots.css";
@import "./components/Carousel/carousel.css";
@import "./components/SparkleAnim/sparkleanim.css";

/* Matcha colors from https://www.color-hex.com/color-palette/92081 */
@theme {
  --color-m3: rgb(68, 98, 74);
  --color-m2: rgb(139, 168, 136);
  --color-m1: rgb(192, 207, 178);
  --color-cream: rgb(241, 235, 225);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-m3);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-m2);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-m3);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
